<!DOCTYPE html>
<html>
  <title>Release</title>
  <head> </head>
  <body>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        height: auto;
        background-color: #edf2f7;
        padding: 5%;
        margin: 5%;
        border-radius: 0.25rem;
      "
    >
      <p style="font-size: xx-large; text-align: center">
        <strong
          ><a
            href="mailto:{{user}}"
            style="color: #ea8190; text-decoration: none"
            >{{user}}</a
          ></strong
        >
        just created a release, <strong>{{release}}</strong>.
      </p>
      <a
        href="https://hcep-release.optum.com/dashboard/releases"
        style="
          border: 1px solid #ea8190;
          border-radius: 0.25rem;
          padding: 0.5rem 4rem;
          text-decoration: none;
          color: #ea8190;
          font-weight: bold;
        "
        >View the Releases</a
      >
      <p style="margin-top: 4rem">Made with ❤ by Team RelEase.</p>
    </div>
  </body>
</html>
